body {
    text-align: center;
    background-color: black;
    color: azure;
}
input {
    width: 150px;
    height: 100px;
    font-size: 35px;
    font-style: italic;
}

#cal {
    border: 10px blue solid;
    align-items: center;
    width: 790px;
    margin: auto;
    color: black;
    background-color: darkgrey;
}
#textoPantalla {
    border: 5px black solid;
    width: 750px;
    text-align: right;
    background-color: white;
    padding: 0px 5px;
    position: relative;
    left: 10px;
    height: 60px;
    font-style: italic;
    font-size: 50px;    
}
input.largo {
    width: 250px;
    color: red;
}